<h1> KUROTRADE </h1>

<hr />

<h2> TEMP ADMIN PANEL </h2>

<ul>
	<li>
		USERS: <%= link_to "Index", users_url %> | <%= link_to "Create", new_user_url %>
	</li>

	<li>
		GROUPS: <%= link_to "Index", groups_url %> | <%= link_to "Create", new_group_url %>
	</li>

	<li>
		PORTFOLIOS: <%= link_to "Index", portfolios_url %> | <%= link_to "Create", new_portfolio_url %>
	</li>

	<li>
		TRANSACTIONS: <%= link_to "Index", transactions_url %> | <%= link_to "Create", new_transaction_url %>
	</li>
</ul>