
<h1>Mock Dashboard</h1>


<hr />

<style>
#nav_chart {
        background-color: #EEE;
}
</style>

<div id="nav_chart" style="width: 100%; height: 400px;"></div>

<%# @transactions.group(:stock_symbol).each do |t| %>
<%#= t.stock_symbol %>
<%# end %>

<% @recent_data.each do |stock| %>
	<%= stock[:name] %>: <%= stock[:info][:trade_date] %> @ <%= stock[:info][:trade_time] %> = $<%= stock[:info][:trade_price] %><br />
<% end %>

<hr />

Cash Balance: <%= @cash_balance %> || Stock Balance: <%= @stock_balance %>
Net Asset Value: <%= @net_asset_value %> || NAV Units: <%= @nav_units %> || NAV Per Unit: <%= @nav_per_unit %>

<hr />

<ul>
<% @test.each_with_index do |x,idx| %>
<p>
<li><%= x %></li>
<li><%= @portfolio[idx] %></li>
</p>
<br />
<% end %>
</ul>

<hr />

<!-- embed the array into the Morris javascript -->
<script type="text/javascript">
Morris.Bar({
  element: 'nav_chart',
  data: [
    <% @portfolio.each_with_index do |array, index| %>
        <% if index != (@portfolio.count - 1) %>
            {y: '<%= array[:date] %>', a: <%= array[:nav] %>},
        <% else %>
            {y: '<%= array[:date] %>', a: <%= array[:nav] %>}
        <% end %>
    <% end %>
  ],
  xkey: 'y',
  ykeys: ['a'],
  labels: ["Net Asset Value"],
  preUnits: '$',
  ymax: 'auto',
  ymin: 'auto',
  hideHover: true,
  pointSize: 0,
  hoverOpacity: .8,
  hoverFontSize: 20
});
</script>