<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @portfolio.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @portfolio.group_id %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
