<!DOCTYPE html>
<html>
<head>
  <title>kurotrade</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'kurotrade', root_url, :class => 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if current_user %>
              <li><%= link_to 'Dashboard', dashboard_url %></li>
              <li><%= link_to 'Transactions', transactions_url %></li>
              <li><%= link_to 'Portfolios', portfolios_url %></li>
              <li><%= link_to 'Groups', groups_url %></li>
            <% else %>
              <li><%= link_to 'Home', root_url %></li>
              <li><%= link_to 'Demo', dashboard_url %></li>
              <li><%= link_to 'Features', features_url %></li>
            <% end %>
              <li><%= link_to 'About', about_url %></li>
              <li><%= link_to 'Contact', contact_url %></li>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to 'Settings', edit_user_url(current_user.id) %></li>
              <li><%= link_to 'Logout', logout_url %></li>
            <% else %>
              <li><%= link_to 'Register', new_user_url %></li>
              <li><%= link_to 'Login', login_url %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<%= render 'layouts/flash_messages' %>

<%= yield %>

<script>
  var url = window.location;
  // Will only work if string in href matches with location
  $('ul.nav a[href="'+ url +'"]').parent().addClass('active');

  // Will also work for relative and absolute hrefs
  $('ul.nav a').filter(function() {
      return this.href == url;
  }).parent().addClass('active');
</script>

</body>
</html>
